<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../lib/fontawesome-free-6.6.0-web/css/all.min.css">
</head>
<body class="login-page vh-100 d-flex align-items-center justify-content-center">

<div class="login-box w-25">
    <div class="login-logo text-center">
        <img src="../../static/images/logo.png" alt="Логотип" class="mb-5">
    </div>
    <div class="">
        <div class="card-body login-card-body">
            <p class="login-box-msg text-center display-6 fw-semibold text-primary-emphasis mb-4">Создайте аккаунт</p>
            <span id="common-error" class="error invalid-feedback text-center mb-3">Неправильный email или пароль</span>
            <form>
                <div class="input-group mb-2">
                        <span class="input-group-text">
                            <i class="fa-regular fa-user"></i>
                        </span>
                    <input type="email" class="form-control" placeholder="ФИО" id="full-name">
                    <span id="full-name-error" class="error invalid-feedback">Введите корректные данные</span>
                </div>
                <div class="input-group mb-2">
                        <span class="input-group-text">
                            <i class="fa-regular fa-envelope-open"></i>
                        </span>
                    <input type="email" class="form-control" placeholder="Электронная почта" id="email">
                    <span id="email-error" class="error invalid-feedback">Введите корректый E-mail</span>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </div>
                    <input type="email" class="form-control" placeholder="Пароль" id="password">
                    <span id="password-error" class="error invalid-feedback">Пароль должен содержать не менее 8 символов,
                    хотя бы одну заглавную и одну строчную букву</span>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </div>
                    <input type="email" class="form-control" placeholder="Подтверждение пароля" id="repeat-password">
                    <span id="repeat-password-error" class="error invalid-feedback">Пароли не совпадают</span>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember-me">
                            <label for="remember-me">
                                Запомнить меня
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-block w-100" id="login-button">Войти</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Уже есть аккаунт? <a href="/#/login">Войдите в систему</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="../../../lib/js/bootstrap.min.js"></script>
</body>
</html>