<div class="col-sm-8 col-12">
    <div class="col-xxl-6 col-lg-8 col-md-10 col-sm-11 col-12">
        <input type="text" placeholder="Название..." id="category-name"
               class="p-2 ps-3 border border-1 border-secondary rounded form-control">
        <span id="category-name-error" class="error invalid-feedback">Поле не может быть пустым</span>
    </div>
    <div class="mt-4">
        <button id="create" class="btn btn-success me-2">Создать</button>
        <button id="cancel" class="btn btn-danger">Отмена</button>
    </div>
</div>