<div class="container-lg p-0 mx-0">
    <div class="mb-5 d-flex flex-wrap gap-2">
        <a href="/#/incomes-expenses-create?type=income" class="btn btn-success">Создать доход</a>
        <a href="/#/incomes-expenses-create?type=expense" class="btn btn-danger">Создать расход</a>
    </div>

    <div class="text-center d-flex align-items-center mb-5 row row-gap-3 col-xxl-10 col-12">
        <div class="col">
            <a class="btn btn-secondary w-100" href="#">Сегодня</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary w-100" href="#">Неделя</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary w-100" href="#">Месяц</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary w-100" href="#">Год</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary w-100" href="#">Все</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary w-100" href="#">Интервал</a>
        </div>
        <div class="col d-flex">
            c
            <input class="date-input text-secondary ms-4 me-4 border-0 text-decoration-underline h-100"
                   placeholder="Дата">
            по
            <input class="date-input text-secondary ms-4 border-0 text-decoration-underline h-100" placeholder="Дата">
        </div>
    </div>

    <div class="table-responsive-xl">
        <table class="table text-primary-emphasis text-center">
            <thead class="border-top border-secondary-subtle">
            <tr>
                <th class="">№ операции</th>
                <th class="">Тип</th>
                <th class="">Категория</th>
                <th class="">Сумма</th>
                <th class="">Дата</th>
                <th class="">Комментарий</th>
                <th class=""></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="">1</td>
                <td class="text-success">доход</td>
                <td class="">зарплата</td>
                <td class="">500$</td>
                <td class="">11.09.2022</td>
                <td class=""></td>
                <td class="text-end">
                    <div class="">
                        <a href="#confirmation-popup" class="open-popup-link text-primary-emphasis text-decoration-none">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                        <a href="/#/incomes-edit" class="text-primary-emphasis text-decoration-none">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="">2</td>
                <td class="text-danger">расход</td>
                <td class="">жильё</td>
                <td class="">2 500$</td>
                <td class="">12.09.2022</td>
                <td class=""></td>
                <td class="text-end">
                    <div class="">
                        <a href="#confirmation-popup" class="open-popup-link text-primary-emphasis text-decoration-none">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                        <a href="/#/expenses-edit" class="text-primary-emphasis text-decoration-none">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="confirmation-popup" class="mfp-hide">
    <div class="ps-4 pe-4 col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 mx-auto">
        <div class="card p-lg-4 p-md-3 p-sm-2 p-1 text-center text-primary-emphasis fw-medium">
            <p class="mt-3 col-11 ms-auto me-auto">
                Вы действительно хотите удалить операцию?
            </p>
            <div class="d-flex align-items-center justify-content-center flex-wrap gap-3 mb-3">
                <button class="btn btn-success confirm-button" id="delete-operation">Да, удалить</button>
                <button class="btn btn-danger mfp-close confirm-button">Не удалять</button>
            </div>
        </div>
    </div>
</div>