<div class="col-sm-8 col-12">
    <div class="col-xxl-6 col-lg-8 col-md-10 col-sm-11 col-12">
        <input type="text" id="type"
               class="p-2 ps-3 border border-1 border-secondary rounded form-control mb-2">
        <input type="text" id="category"
               class="p-2 ps-3 border border-1 border-secondary rounded form-control mb-2">
        <input type="text" id="amount"
               class="p-2 ps-3 border border-1 border-secondary rounded form-control mb-2">
        <input type="text" id="datee"
               class="p-2 ps-3 border border-1 border-secondary rounded form-control mb-2">
        <input type="text" placeholder="Комментарий..." id="comment"
               class="p-2 ps-3 border border-1 border-secondary rounded form-control mb-2">
    </div>
    <div class="mt-4">
        <button id="create" class="btn btn-success me-2">Сохранить</button>
        <a href="/#/incomes-expenses-main" class="btn btn-danger">Отмена</a>
    </div>
</div>