<div class="col-sm-8 col-12">
    <form class="col-xxl-6 col-lg-8 col-md-10 col-sm-11 col-12">
<!--        <input type="text" placeholder="Тип..." id="type"-->
<!--               class="p-2 ps-3 border border-1 border-secondary rounded form-control mb-2">-->
        <div class="input-group mb-2">
            <select id="type-select" class="form-control p-2 ps-3 border-1 border-secondary rounded">
                <option value="income">Доход</option>
                <option value="expense">Расход</option>
            </select>
        </div>
        <!--        <input type="text" placeholder="Категория..." id="category"-->
        <!--               class="p-2 ps-3 border border-1 border-secondary rounded form-control mb-2">-->
        <div class="input-group mb-2">
            <select id="category-select" class="form-control select2 p-2 ps-3 border-1 border-secondary rounded">

            </select>
            <span id="category-select-error" class="error invalid-feedback">Поле не может быть пустым</span>
        </div>
        <div class="input-group mb-2">
            <input type="number" placeholder="Сумма в $..." id="amount"
                   class="p-2 ps-3 border border-1 border-secondary rounded form-control">
            <span id="amount-error" class="error invalid-feedback">Поле не может быть пустым</span>
        </div>
        <div class="input-group mb-2">
            <input type="date" placeholder="Дата..." id="date"
                   class="p-2 ps-3 border border-1 border-secondary rounded form-control create-date">
            <span id="date-error" class="error invalid-feedback">Выберите дату</span>
        </div>
        <div class="input-group mb-2">
            <input type="text" placeholder="Комментарий..." id="comment"
                   class="p-2 ps-3 border border-1 border-secondary rounded form-control">
        </div>
    </form>
    <div class="mt-3">
        <button id="create" class="btn btn-success me-2">Создать</button>
        <a href="/#/incomes-expenses-main" class="btn btn-danger">Отмена</a>
    </div>
</div>